<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Devour A Burger</title>
	{{!-- CSS --}}
	<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />
	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- javascript--}}
	<script src="/assets/js/burgers.js"></script>
	{{!-- Bootstrap --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>