<div class="container">

    <img src="https://res.cloudinary.com/teepublic/image/private/s--ZgNyM19g--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1516666523/production/designs/2303324_0.jpg"
        alt="p1">

    <h2 class="text-center">Make A Burger</h2>

    <form class="create-form text-center">
        <div class="form-group">
            <input type="text" id="brug" name="burger_name">

            <button type="submit" class="btn btn-success" id="addburger">Add Burger</button>
        </div>
    </form>

    <hr>

    {{!-- undevoured burgers --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center" id="left"><strong>Make Your Burger</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burger/burgers-block devoured=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        {{!-- devoured burgers --}}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center" id="right"><strong>You've Devoured Your Burger</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burger/burgers-block devoured=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>