<li>
    {{burger_name}}

    <button class="eatburger" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devour the Burger!{{else}}Make Me Another!{{/if}}
    </button>

    
</li>